.masthead.segment {
	min-height: 300px;
	margin-top: 0 !important;
	padding: 1em 0 1em 0 !important;
  background-image: url('/img/cb_background.jpg') !important;
	background-repeat: repeat-xy !important;
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .masthead.segment {
    min-height: 200px;
  }
  .masthead h1.ui.header {
    font-size: 3.5em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 420px) {
	.masthead.segment {
		min-height: 100vh;
	}
}
