html {
	background-color: yellow;
}

body.pushable > .pusher {
	background-color: yellow;
	background-image: url('/img/cb_background2.jpg');
}

.header_nome {
	padding-left: 1em;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.ui.form input {
	padding: 0.5em !important;
}

.ui.vertical.footer.segment {
	margin-top: 5em;
  padding: 5em 0em;
}

div + .no-items {
  display: none;
}

th.selectable:hover {
  background: rgba(255,255,255,.08) !important;
  color: #fff !important;
	cursor: pointer !important;
}

.hidden {
	display: none;
}

footer.ui.inverted.segment {
	background-image: url('/img/cb_background_T.png');
	background-color: #952108 !important;
	text-shadow: none;
}

.ui.inverted.vertical.stripe.segment {
	background-color: rgb(27, 28, 29);
}

.ui.vertical.segment {
	color: white;
	text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;

	background-color: rgba(149,33,8,0.85);
	margin-top: 2em;
	padding: 3em;
}

.ui.segment.maisinfo {
	background-color: rgb(27, 28, 29);
}

.ui.vertical.stripe.segment .header {
 	color: white;
	text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,
							 -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
 }

.ui.button {
	transition: 0.5s;
}

.ui.button:hover {
	transition: 0.5s;
}

.ui.segment {
	transition: 1s;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	width: 70px;
}

.ui.blue.label {
	border-color: rgba(34, 36, 38, 0.15) !important;
	border-width: thin;
}

.relatorio.button {
	margin-top: 7px;
}

.ui.banana.image {
  display: inline-block;
}

.selectable.button {
	font-size: 1.2rem;
	cursor: pointer;
	text-align: center !important;
	background: #5EA42A;
	color: rgba(255,255,255,.6);
	font-weight: 900;
}
