<div class="ui top attached three big buttons">
		<a href="/admin/criar" class="ui primary button">Criar Administrador</a>
		<a href="/admin/validar" class="ui green button">Validar Leilões</a>
		<a href="/admin/editar" class="ui red button">Editar Leilões</a></div>
<div class="ui attached segment">
	<div class="ui two big buttons">
		<a href="/leilao/buscar" class="ui secondary button" target="_self">Buscar leilões</a>
		<a href="/leilao/listar" class="ui olive button" target="_self">Listar leilões</a>
	</div>
	<br><br>
	<div class="ui fluid big buttons">
		<a href="/admin/finalizar" class="ui green button">Finalizar leilões</a>
	</div>
</div>
<a href="/admin/relatorios" class="ui bottom attached big orange button">
	Visualizar relatórios
</a>
