<div class="ui container">
	<div class="ui large secondary inverted pointing menu" id="fixedMenu">
		<a href="/app" class="header item" target="_self" style="padding: 0; border-bottom-width: 0 !important;">
			<img class="logo" src="/img/142p142transparent.png">
		</a>
		<a class="toc item">
			<i class="sidebar icon"></i>
		</a>
		<a class="item" href="/" target="_self">Home</a>
		<a class="item" href="/contato" target="_self">Contato</a>
		<div class="right item">
			<a class="ui inverted button" href="/login" target="_self">Entrar</a>
			<a class="ui inverted button" href="/signup" target="_self">Inscreva-se</a>
		</div>
	</div>
</div>
