<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden" id="followingMenu">
  <div class="ui container">
		<a href="/app" class="header item" target="_self" style="padding: 0; border-bottom-width: 0 !important;">
			<img class="logo" src="/img/142p142transparent.png">
		</a>
    <a class="item" href="/" target="_self">Home</a>
    <a class="item" href="/contato" target="_self">Contato</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" href="/login" target="_self">Entrar</a>
      </div>
      <div class="item">
        <a class="ui primary button" href="/signup" target="_self">Inscreva-se</a>
      </div>
    </div>
  </div>
</div>
