<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden" id="followingMenu">
  <div class="ui container">
		<a href="/app" class="header item" target="_self" style="padding: 0; border-bottom-width: 0 !important;">
			<img class="logo" src="/img/142p142transparent.png">
		</a>
    <a class="item" href="/" target="_self">Home</a>
    <a class="item" href="/contato" target="_self">Contato</a>
		<% if(user._type !== 'Administrador') { %>
			<a href="/leilao/criar" class="item" target="_self">Criar</a>
		<% } %>
		<a href="/leilao/buscar" class="item" target="_self">Buscar</a>
		<a href="/leilao/listar" class="item" target="_self">Listar</a>
		<% if (user._type === "Administrador") { %>
			<a class="item" href="/admin" target="_self">Admin</a>
		<% } %>
    <div class="right menu">
			<div class="item">
				<a class="ui red button" href="/logout" target="_self"><i class="sign out icon"></i>Sair</a>
			</div>
    </div>
  </div>
</div>
