<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left" id="sidebarMenu">
  <a class="item" href="/" target="_self">Home</a>
  <a class="item" href="/contato" target="_self">Contato</a>
	<a class="item" href="/login" target="_self">Entrar</a>
	<a class="item" href="/signup" target="_self">Inscreva-se</a>
</div>
