<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left" id="sidebarMenu">
	<a href="/app" class="header item" target="_self">
		<img class="logo" src="/img/150p150.jpg" style="width: 3em;">
	</a>
  <a class="item" href="/" target="_self">Home</a>
  <a class="item" href="/contato" target="_self">Contato</a>
	<% if(user._type !== 'Administrador') { %>
		<a href="/leilao/criar" class="item" target="_self">Criar</a>
	<% } %>
	<a href="/leilao/buscar" class="item" target="_self">Buscar</a>
	<a href="/leilao/listar" class="item" target="_self">Listar</a>
	<% if (user._type === "Administrador") { %>
		<a class="item" href="/admin" target="_self">Admin</a>
	<% } %>
	<a class="item" href="/logout" target="_self"><i class="sign out icon"></i>Sair</a>
</div>
