<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body>
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

				<div class="ui text container">
					<h1 class="ui inverted header"  style="margin-top: 0.5em;">
						Cooper Comics
					</h1>
				</div>
			</div>

			<div class="ui center aligned">
				<div class="ui equal width stackable grid">
					<% if(message) { %>
						<div class="center aligned column">
								<div class="ui icon <%= message.type %> message">
									<i class="inbox icon"></i>
									<i class="close icon"></i>
									<div class="content">
										<div class="header">
											<% if(message.type === "success") { %>Sucesso!<% } %>
											<% if(message.type === "error") { %>Erro ao enviar e-mail.<% } %>
										</div>
										<p><%= message.text %></p>
									</div>
								</div>
						</div>
					<% } %>
					<div class="center aligned column">
						<div class="ui text container">
							<h1 class="ui header" style="margin-top: 1em; color: white; text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;">Escreva sua mensagem</h1>
							<div class="ui secondary orange inverted segment">
								<form class="ui form" action="/contato/email" method="post" enctype="application/json">
									<div class="field">
										<div class="ui labeled input">
										  <div class="ui black label">
										    Nome
										  </div>
											<input required type="text" name="emailname" id='contactname' placeholder="Seu nome">
										</div>
									</div>
									<div class="field">
										<div class="ui labeled input">
											<div class="ui black label">
												E-mail
											</div>
											<input required type="email" name="emailaddress" placeholder="email@exemplo.com">
										</div>
									</div>
									<div class="field">
										<div class="ui labeled input">
											<div class="ui black label">
												Assunto
											</div>
											<input required type="text" name="emailsubject" placeholder="Assunto da mensagem">
										</div>
									</div>
									<div class="field">
										<textarea required rows="7" name="emailtext" placeholder="Deixe sua mensagem aqui"></textarea>
									</div>
									<button class="ui secondary submit button" type="submit">Enviar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
		<% if(message) { %>
			<script type="text/javascript">
				$('.message .close').on('click', function() {
					$(this).closest('.message').transition('fade');
				});
			</script>
		<% } %>
	</body>
</html>
