<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body>
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

				<div class="ui text container">
					<h1 class="ui inverted header" style="margin-top: 0.5em;">
						Cooper Comics
					</h1>
				</div>
			</div>
			<div class="ui container" style="margin-top: 1em;">
				<div class="ui segment">
					<h1>Criar Leilão</h1>
					<div class="ui stackable three steps">
						<div class="active step">
							<i class="plus icon"></i>
							<div class="content">
								<div class="title">Criar Leilão</div>
								<div class="description">Cadastre seus próprios livros!</div>
							</div>
						</div>
						<div class="step">
							<i class="book icon"></i>
							<div class="content">
								<div class="title">Vá até a loja com o livro</div>
								<div class="description">É necessário validar a sua oferta.</div>
							</div>
						</div>
						<div class="step">
							<i class="clock icon"></i>
							<div class="content">
								<div class="title">Espera a oferta acabar</div>
								<div class="description">Avisaremos quando o seu leilão encerrar!</div>
							</div>
						</div>
					</div>
					<h1>Livro</h1>
					<form class="ui form" action="/leilao/criar" method="post" id="criarleilao">
					  <div class="equal width fields">
					    <div class="field">
					      <label>Autor</label>
					      <input type="text" placeholder="Autor" name="autor">
					    </div>
					    <div class="field">
					      <label>Título</label>
					      <input type="text" placeholder="Título" name="titulo">
					    </div>
							<div class="field">
					      <label>Editora</label>
					      <input type="text" placeholder="Editora" name="editora">
					    </div>
							<div class="field">
								<label>Edição</label>
								<input type="text" placeholder="Edição" name="edicao">
							</div>
					  </div>

						<h1>Leilão</h1>
						<div class="inline fields">
							<div class="field">
								<label for="preco">Preço Inicial</label>
								<input type="number" name="preco" min="0" title="Only numbers are allowed" />
							</div>
							<div class="field">
								<label for="imagem">Imagem</label>
								<input type="text" name="imagem" />
							</div>
						</div>

						<div class="equal width fields">
							<div class="field">
								<label for="descricao">Descrição</label>
						    <textarea name="descricao" form="criarleilao"></textarea>
						  </div>
						</div>
						<button type="submit" name="submit" class="ui positive button">Criar Leilão</button>
						<a target="_self" href="/app" class="ui red button">Voltar</a>
					</form>
				</div>
			</div>
			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
		<script src="/js/formvalidation/criarLeilao.js" charset="utf-8"></script>
	</body>
</html>
