<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
		<link rel="stylesheet" href="/css/masthead.css">
	</head>
	<body>
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

		    <div class="ui text container">
		      <h1 class="ui inverted header">
		        Cooper Comics
		      </h1>
		      <h2>O nosso lema aqui!</h2>
		      <a class="ui huge compact button" href="/app">Entrar<i class="right arrow icon"></i></a>
		    </div>
	  	</div>

			<div class="ui container">
				<div class="ui vertical stripe segment">
					<div class="ui text container">
						<h3 class="ui header">Quem Somos</h3>
						<p>
							A Cooper Comics é uma loja de leilão de quadrinhos. <br>
							Clientes que desejam vender seus quadrinhos podem deixá-­los conosco,
							onde eles serão mostrados para os visitantes da loja que por sua vez podem ofertar um valor a um determinado quadrinho.
						</p>
						<p>
							Após um período pré-­definido, o leilão de um quadrinho acaba e contatamos a pessoa que ofertou o maior valor, para entregar­-lhe o quadrinho.
						</p>
						<a class="ui large secondary button">Leia Mais</a>
					</div>
				</div>
			</div>

			<div class="ui inverted vertical stripe quote segment">
		    <div class="ui equal width stackable internally celled grid">
		      <div class="center aligned row">
		        <div class="column">
		          <h3>"What a Company"</h3>
		          <p>That is what they all say about us</p>
		        </div>
		        <div class="column">
		          <h3>"Eu conheci vocês por <a href="https://www.youtube.com/watch?v=z6WyGZl29Mo">aquela música</a> do Zeca Pagodinho."</h3>
		          <p>
		            <img src="/img/cooper.jpg" class="ui avatar image"> <b>Bisnaguinha</b><br>Domingão do Faustão
		          </p>
		        </div>
		      </div>
		    </div>
		  </div>

			<div class="ui container">
				<div class="ui vertical stripe segment">
				  <div class="ui middle aligned stackable grid">
				    <div class="row">
				      <div class="eight wide column">
				        <h3 class="ui header">We Help Companies and Companions</h3>
				        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
				        <h3 class="ui header">We Make Bananas That Can Dance</h3>
				        <p style="margin-bottom: 0;">Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
								<img src="/img/pbj.gif" alt="Peanut Butter" class="ui banana tiny image">
								<img src="/img/pbj.gif" alt="Peanut Butter" class="ui banana tiny image">
								<img src="/img/pbj.gif" alt="Peanut Butter" class="ui banana tiny image">
				      </div>
				      <div class="six wide right floated column">
				        <img src="/img/newcomicbooks.gif" class="ui large bordered rounded image">
				      </div>
				    </div>
				    <div class="row">
				      <div class="center aligned column">
				        <a class="ui huge primary button">Check Them Out</a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="ui text container">
				<div class="ui vertical stripe segment maisinfo">
					<h3 class="ui header">Mais informações?</h3>
					<p>A gente possui mais informações.</p>
					<a class="ui large positive button">Mais informações</a>
				</div>
			</div>

			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
	</body>
</html>
