<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body ng-app="cc">
		<% include base %>
		<script src="/js/controller/leilao.js" charset="utf-8"></script>
	</body>
</html>
