<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>

		<style media="screen">
			html {
				background-image: url('/img/cb_background.jpg');
			}
			label {
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div class="ui container middle aligned center aligned grid" style="padding-top: 100px;">
			<div class="sixteen wide mobile ten wide computer column">
				<h1 style="color: white;">Login</h1>
				<form class="ui large form error" action="/login" method="post">
					<div class="ui stacked segment">
						<div class="required field">
							<label style="text-align: left;">Email</label>
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input required type="email" placeholder="E-mail" name="email">
							</div>
						</div>
						<div class="required field">
							<label style="text-align: left;">Password</label>
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input required type="password" placeholder="Senha" name="password">
							</div>
						</div>
						<button type="submit" class="ui teal submit button">Entrar</button>
					</div>
					<% if (message.length > 0) { %>
						<!-- show any messages that come back with authentication -->
						<div class="ui error message">
							<div class="header">Oops!</div>
							<div class="content">
								<%= message %>
							</div>
						</div>
					<% } else { %>
						<div class="ui error message"></div>
					<% } %>
				</form>

				<div class="ui message">
					<div class="ui buttons">
						<a href="/signup" class="ui vertical animated primary button">
							<div class="visible content">
								Inscreva-se</div>
							<div class="hidden content">
								<i class="left arrow icon"></i>
							</div>
						</a>
						<a href="/" class="ui vertical animated green button">
							<div class="visible content">
								Home</div>
							<div class="hidden content">
								<i class="right arrow icon"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
