<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/css/simuladordepagamento.css">
	</head>
	<body>
		<div class="loading-page">
			<div class="counter" id="counter1">
			  <p>Efetuando Pagamento</p>
				  <h1>0%</h1>
			  <hr>
				<img src="/img/pikachu.gif" alt="">
			</div>
			<div class="notcounter" id="counter2">
				<div class="counter">
					<p>Pagamento efetuado com sucesso!</p>
					<a href="/app" class="button" id="voltar">Voltar</a>
				</div>
			</div>
		</div>

		<script src="/js/vendor/jquery.js" charset="utf-8"></script>
		<script src="/js/simuladordepagamento.js" charset="utf-8"></script>
	</body>
</html>
