<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body>
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

				<div class="ui text container">
					<h1 class="ui inverted header">
						Cooper Comics
					</h1>
				</div>
			</div>
			<div class="ui container">
				<div class="ui segment">

				</div>
			</div>

			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
	</body>
</html>
